<mat-card>Company ID : {{company.companyId}}<mat-icon *ngIf='isValid[0]'>update</mat-icon></mat-card><br>
<mat-card>CEO        : {{company.ceo}}<mat-icon *ngIf='isValid[1]'>update</mat-icon></mat-card><br>
<mat-card>Brief      : {{company.brief}}<mat-icon *ngIf='isValid[2]'>update</mat-icon></mat-card><br>
<mat-card>Code       : {{company.code}}<mat-icon *ngIf='isValid[3]'>update</mat-icon></mat-card><br>
<mat-card>Name       : {{company.name}}<mat-icon *ngIf='isValid[4]'>update</mat-icon></mat-card><br>
<mat-card>Contact ID : {{company.contactId}}<mat-icon *ngIf='isValid[5]'>update</mat-icon></mat-card><br>
<mat-card>Sector ID  : {{company.sectorId}}<mat-icon *ngIf='isValid[6]'>update</mat-icon></mat-card><br>
<mat-card>Stock Exchange ID  : {{company.stockExchangeId}}<mat-icon *ngIf='isValid[7]'>update</mat-icon></mat-card><br>
