.user {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 50%;
    height: 10em;
    font-size:30px;
    border: solid;
  }
  .admin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 50%;
    height: 10em;
    font-size:30px;
    border: solid;
  }