<mat-card>IPO ID : {{ipo.ipoId}}<mat-icon *ngIf='isValid[0]'>update</mat-icon></mat-card><br>
<mat-card>Open Time        : {{ipo.openTime}}<mat-icon *ngIf='isValid[1]'>update</mat-icon></mat-card><br>
<mat-card>Close Time      : {{ipo.closeTime}}<mat-icon *ngIf='isValid[2]'>update</mat-icon></mat-card><br>
<mat-card>Remarks      : {{ipo.remarks}}<mat-icon *ngIf='isValid[3]'>update</mat-icon></mat-card><br>
<mat-card>Share Price       : {{ipo.sharePrice}}<mat-icon *ngIf='isValid[4]'>update</mat-icon></mat-card><br>
<mat-card>Total Shares : {{ipo.totalShares}}<mat-icon *ngIf='isValid[5]'>update</mat-icon></mat-card><br>
